@import url("fonts/roboto/font.css");
@import url("fonts/play/font.css");
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: 'Play';
  line-height: 1.2;
  color: #fff;
  width: 100%;
  height: 100%;
}
body {
  padding: 0;
  margin: 0;
}
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.plan {
  width: 960px;
  height: 600px;
  border-right: 1px solid #a4fcfd;
  border-bottom: 1px solid #a4fcfd;
  position: fixed;
  z-index: 1000000;
  box-sizing: border-box;
  display: none;
}
.plan2 {
  display: none;
  width: 1140px;
  border-right: 1px solid #a4fcfd;
  position: fixed;
  z-index: 1000000;
  height: 100%;
  box-sizing: border-box;
  display: none;
}
a {
  color: #fff;
  text-decoration: none;
  border-bottom: 1px solid rgba(255,255,255,0.3);
}
a:hover {
  border-bottom: 1px solid rgba(255,255,255,0.8);
}
ul,
li {
  margin: 0;
  padding: 0;
}
* {
  outline: none;
}
section {
  padding: 30px;
  box-sizing: border-box;
}
h1 {
  font-size: 40px;
  font-weight: 300;
  text-transform: uppercase;
  font-family: 'Roboto Slab';
}
h2 {
  font-size: 30px;
  line-height: 1;
  font-family: 'Roboto Slab';
  margin-bottom: 10px;
}
h3 {
  font-size: 24px;
  line-height: 1;
  font-family: 'Roboto Slab';
  font-weight: normal;
  margin-bottom: 10px;
}
.layout {
  min-width: 960px;
  max-width: 1920px;
  min-height: 600px;
  max-height: 1080px;
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
.limit {
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
}
.single-page {
  position: absolute;
  top: 140px;
  left: 30px;
  right: 30px;
  margin: auto;
}
.header-block {
  position: absolute;
  z-index: 100;
  left: 30px;
  right: 30px;
  top: 30px;
  padding: 0;
  margin: auto;
  white-space: nowrap;
}
.header-logo {
  width: 140px;
  height: 80px;
  margin-top: -10px;
  margin-right: 140px;
  background: url("icons/logo.svg");
  background-repeat: no-repeat;
  display: inline-block;
  background-size: contain;
  vertical-align: top;
  z-index: 100000 !important;
  position: relative;
}
.header-anchors {
  font-size: 14px;
  line-height: 1.414;
  font-family: 'Play';
  text-transform: uppercase;
  vertical-align: top;
  display: inline-block;
  margin-right: 90px;
  margin-top: 10px;
}
.header-anchors__item {
  display: inline-block;
  list-style-type: none;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
}
.header-anchors__item a.active {
  border-bottom: none;
  opacity: 0.4;
  pointer-events: none;
}
.header-geo {
  display: inline-block;
  font-family: "Play";
  font-size: 0.75rem;
  text-transform: uppercase;
  margin-right: 100px;
  margin-top: 10px;
}
.header-geo-labels__city {
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
  border-bottom: 1px dotted #fff;
  cursor: pointer;
}
.header-geo-labels__city.active {
  border-bottom: none;
  cursor: default;
}
.header-geo-labels__phone {
  font-size: 1.4375rem;
  margin-top: 3px;
}
.header-geo-labels__phone span {
  font-size: 0.8rem;
  display: inline-block;
  margin-top: 3px;
  vertical-align: top;
}
.header-contact {
  display: inline-block;
  position: relative;
}
.header-contact__item {
  display: inline-block;
}
.header-contact__link_call-me {
  border-bottom: 1px dotted rgba(255,255,255,0.3);
  margin-right: 10px;
}
.header-modals {
  position: absolute;
  right: 0;
  white-space: nowrap;
}
.header-modals__search {
  position: absolute;
}
.header-modals__search {
  position: absolute;
  width: 20px;
  height: 20px;
  top: -33px;
  right: 30px;
  opacity: 0.4;
  font-size: 1rem;
  cursor: pointer;
}
.header-modals__search:hover {
  opacity: 1;
}
.header-modals__menu {
  position: absolute;
  width: 20px;
  height: 20px;
  top: -30px;
  right: 0px;
  background: url("icons/menu.svg");
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0.4;
  cursor: pointer;
}
.header-modals__menu:hover {
  opacity: 1;
}
.main-content-1.active {
  display: block;
}
.main-content-2.active {
  display: block;
}
.main-content-3.active {
  display: block;
}
.main-content-1 {
  position: absolute;
  display: none;
  background-size: cover;
  background-position: center center;
  color: #fff;
  width: 100%;
  height: 100%;
  background-image: url("images/main-first.jpg");
}
.main-content-2 {
  position: absolute;
  display: none;
  background-size: cover;
  background-position: center center;
  color: #fff;
  width: 100%;
  height: 100%;
  background-image: url("images/main-second.jpg");
}
.main-content-3 {
  position: absolute;
  display: none;
  background-size: cover;
  background-position: center center;
  color: #fff;
  width: 100%;
  height: 100%;
  background-image: url("images/main-third.jpg");
}
.main-content-holder {
  position: absolute;
  bottom: 40px;
  left: 30px;
  right: 30px;
  margin: auto;
}
.main-content-1__subtitle,
.main-content-2__subtitle,
.main-content-3__subtitle {
  font-size: 21px;
  margin-top: -20px;
}
.main-content-1-left {
  float: left;
  width: 48%;
}
.main-content-1-right {
  float: right;
  width: 48%;
  margin-top: 20px;
}
.main-content-2-left {
  float: left;
  width: 30%;
}
.main-content-2-right {
  float: right;
  width: 70%;
  margin-top: -40px;
}
.main-content-2-top {
  width: 100%;
  margin-bottom: 30px;
}
.main-content-3-left {
  float: left;
  width: 30%;
}
.main-content-3-right {
  float: right;
  width: 70%;
  margin-top: -40px;
}
.main-content-3-top {
  width: 100%;
  margin-bottom: 30px;
}
.main-content-form {
  width: 300px;
  margin-top: 30px;
  padding: 0;
}
.main-content-form__title {
  font-size: 24px;
  margin-bottom: 20px;
  font-family: 'Roboto Slab';
}
.main-content-form__input {
  background: transparent;
  border: 1px solid rgba(255,255,255,0.4);
  border-radius: 3px;
  margin-bottom: 10px;
  color: #fff;
  font-family: 'Play';
  width: 100%;
  display: block;
  font-size: 15px;
  padding: 10px 15px;
}
.main-content-form__submit {
  width: 100%;
}
.main-content-form__button {
  background: transparent;
  border: 1px solid rgba(255,255,255,0.4);
  border-radius: 3px;
  color: #fff;
  font-family: 'Play';
  font-size: 13px;
  padding: 10px 15px;
  box-sizing: border-box;
  text-transform: uppercase;
  cursor: pointer;
  width: 48%;
  float: left;
  white-space: nowrap;
}
.main-content-form__button_filled {
  border: 1px solid #7f018b;
  background: #7f018b;
  border-radius: 3px;
  color: #fff;
  font-family: 'Play';
  font-size: 13px;
  padding: 10px 15px;
  box-sizing: border-box;
  text-transform: uppercase;
  cursor: pointer;
  width: 48%;
  float: right;
  white-space: nowrap;
}
.main-content-form__button_filled-y {
  border: 1px solid #cfad16;
  background: #cfad16;
  border-radius: 3px;
  margin-bottom: 10px;
  color: #fff;
  font-family: 'Play';
  font-size: 13px;
  padding: 10px 15px;
  box-sizing: border-box;
  text-transform: uppercase;
  cursor: pointer;
  white-space: nowrap;
}
.main-content-1-advantages {
  max-width: 80%;
  margin: 0 auto;
}
.main-content-1-advantages__item {
  margin-bottom: 20px;
  max-width: 380px;
  font-size: 15px;
}
.main-content-1-links {
  margin-top: 40px;
}
.main-content-1-links__pages {
  width: 30%;
  float: left;
}
.main-content-1-links__news {
  width: 40%;
  float: left;
}
.main-content-1-links__partners {
  width: 30%;
  float: left;
}
.main-content-1-links__label {
  background: rgba(255,255,255,0.4);
  text-transform: uppercase;
  white-space: nowrap;
  padding: 5px 8px;
  font-size: 11px;
  display: inline-block;
  margin-bottom: 10px;
}
.main-content-1-links__page {
  list-style-type: none;
  margin-bottom: 5px;
  font-size: 15px;
}
.main-content-1-links__news-item {
  display: flex;
}
.main-content-1-links__news-date {
  font-size: 17px;
  margin-right: 10px;
}
.main-content-1-links__news-text {
  font-size: 13px;
  margin-right: 30px;
}
.main-content-2__title {
  width: 80%;
  float: left;
}
.main-content-2-links {
  margin-top: 40px;
  width: 20%;
  float: right;
}
.main-content-2-links__pages {
  width: 100%;
  float: none;
}
.main-content-2-links__label {
  background: rgba(255,255,255,0.4);
  text-transform: uppercase;
  white-space: nowrap;
  padding: 5px 8px;
  font-size: 11px;
  display: inline-block;
  margin-bottom: 10px;
}
.main-content-2-links__page {
  list-style-type: none;
  margin-bottom: 5px;
  font-size: 15px;
}
.main-content-2-advantages__item {
  width: 33.3333333%;
  float: left;
  padding-right: 30px;
  box-sizing: border-box;
}
.main-content-2-info {
  border: 1px solid rgba(255,255,255,0.4);
  padding: 30px;
  padding-bottom: 0;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}
.main-content-2-info__item {
  flex-basis: 50%;
  width: 50%;
  margin-bottom: 20px;
  display: flex;
}
.main-content-2-info__icon-1 {
  width: 48px;
  height: 48px;
  margin-right: 12px;
  background: url("icons/advantages-icon__1.svg");
  background-repeat: no-repeat;
}
.main-content-2-info__icon-2 {
  width: 48px;
  height: 48px;
  margin-right: 20px;
  background: url("icons/advantages-icon__2.svg");
  background-repeat: no-repeat;
}
.main-content-2-info__icon-3 {
  width: 45px;
  height: 45px;
  margin-right: 20px;
  background: url("icons/advantages-icon__3.svg");
  background-repeat: no-repeat;
}
.main-content-2-info__icon-4 {
  width: 50px;
  height: 50px;
  margin-right: 20px;
  background: url("icons/advantages-icon__4.svg");
  background-repeat: no-repeat;
}
.main-content-2-info__text {
  display: inline-block;
  font-size: 15px;
  padding-right: 30px;
  box-sizing: border-box;
}
.main-content-3__title {
  width: 80%;
  float: left;
}
.main-content-3-links {
  margin-top: 40px;
  width: 20%;
  float: right;
}
.main-content-3-links__pages {
  width: 100%;
  float: none;
}
.main-content-3-links__label {
  background: rgba(255,255,255,0.4);
  text-transform: uppercase;
  white-space: nowrap;
  padding: 5px 8px;
  font-size: 11px;
  display: inline-block;
  margin-bottom: 10px;
}
.main-content-3-links__page {
  list-style-type: none;
  margin-bottom: 5px;
  font-size: 15px;
}
.main-content-3-advantages__item {
  width: 33.3333333%;
  float: left;
  padding-right: 30px;
  box-sizing: border-box;
}
.main-content-3-info {
  box-sizing: border-box;
  margin-top: 40px;
}
.contact-block {
  position: absolute;
  background-size: cover;
  background-position: center center;
  color: #fff;
  width: 100%;
  height: 100%;
  background-image: url("images/about.jpg");
  z-index: 2;
}
.contact-left {
  width: 25%;
  float: left;
  margin-right: 30px;
}
.contact-right {
  width: 20%;
  float: left;
  margin-top: -30px;
}
.contact-form {
  margin-top: 10px;
  margin-bottom: -30px;
  width: 300px;
}
.contact-form__input {
  background: transparent;
  border: 1px solid rgba(255,255,255,0.4);
  border-radius: 3px;
  margin-bottom: 10px;
  color: #fff;
  font-family: 'Play';
  width: 100%;
  display: block;
  font-size: 15px;
  padding: 10px 15px;
}
.contact-form__textarea {
  background: transparent;
  border: 1px solid rgba(255,255,255,0.4);
  border-radius: 3px;
  margin-bottom: 10px;
  color: #fff;
  font-family: 'Play';
  width: 100%;
  height: 80px;
  display: block;
  font-size: 15px;
  padding: 10px 15px;
}
.contact-form__submit {
  display: flex;
}
.contact-form__button {
  background: #cab403;
  border: 1px solid #cab403;
  border-radius: 3px;
  margin-bottom: 10px;
  color: #fff;
  font-family: 'Play';
  font-size: 13px;
  padding: 10px 15px;
  box-sizing: border-box;
  text-transform: uppercase;
  cursor: pointer;
  margin-right: 5px;
  white-space: nowrap;
}
.contact-phone {
  font-size: 21px;
  list-style-type: none;
  margin-top: 10px;
}
.contact-phone span {
  font-size: 12px;
  margin-top: -10px;
  display: inline-block;
  vertical-align: middle;
}
.contact-phone i {
  font-size: 13px;
  margin-top: -5px;
  color: rgba(255,255,255,0.4);
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
}
.contact-time {
  width: 100px;
  height: 100px;
  border: 1px solid rgba(255,255,255,0.4);
  border-radius: 50%;
  display: inline-block;
  margin-right: 20px;
}
.contact-time {
  margin-top: 30px;
}
.contact-time span {
  display: block;
  width: 70px;
  font-size: 20px;
  text-align: center;
  margin: 0 auto;
}
.contact-time span:nth-child(1) {
  margin-top: 20px;
  border-bottom: 1px solid rgba(255,255,255,0.4);
  padding-bottom: 5px;
  margin-bottom: 5px;
}
.contact-time:after {
  content: "Режим работы";
  font-size: 13px;
  margin-top: -5px;
  color: rgba(255,255,255,0.4);
  display: inline-block;
  vertical-align: middle;
  margin-left: 120px;
  white-space: nowrap;
  margin-top: -40px;
}
.about-block {
  position: absolute;
  background-size: cover;
  background-position: center center;
  color: #fff;
  width: 100%;
  height: 100%;
  background-image: url("images/about-1.jpg");
  z-index: 2;
}
.about-left {
  width: 25%;
  float: left;
  padding-right: 10%;
}
.about-middle {
  width: 25%;
  float: left;
  padding-right: 10%;
}
.about-right {
  width: 30%;
  float: left;
  margin-top: 0px;
}
.about-title {
  width: 30%;
  float: left;
}
.about-form {
  margin-top: 10px;
  width: 300px;
}
.about-form__input {
  background: transparent;
  border: 1px solid rgba(255,255,255,0.4);
  border-radius: 3px;
  margin-bottom: 10px;
  color: #fff;
  font-family: 'Play';
  width: 100%;
  display: block;
  font-size: 15px;
  padding: 10px 15px;
}
.about-form__textarea {
  background: transparent;
  border: 1px solid rgba(255,255,255,0.4);
  border-radius: 3px;
  margin-bottom: 10px;
  color: #fff;
  font-family: 'Play';
  width: 100%;
  height: 80px;
  display: block;
  font-size: 15px;
  padding: 10px 15px;
}
.about-form__submit {
  display: flex;
}
.about-form__button {
  background: #cab403;
  border: 1px solid #cab403;
  border-radius: 3px;
  margin-bottom: 10px;
  color: #fff;
  font-family: 'Play';
  font-size: 13px;
  padding: 10px 15px;
  box-sizing: border-box;
  text-transform: uppercase;
  cursor: pointer;
  margin-right: 5px;
  white-space: nowrap;
}
.about-menu {
  float: right;
  width: 70%;
  margin-top: 50px;
}
.about-menu__item {
  list-style-type: none;
  display: inline-block;
  margin-right: 15px;
}
.news-block {
  position: absolute;
  background-size: cover;
  background-position: center center;
  color: #fff;
  width: 100%;
  height: 100%;
  background-image: url("images/news.jpg");
}
.news-article {
  width: 33%;
  margin-right: 3%;
  margin-top: -30px;
  position: relative;
  padding-top: 10px;
  float: left;
}
.news-article__date {
  font-size: 17px;
}
.news-article__text {
  margin-top: 20px;
  height: 300px;
  overflow: auto;
  font-size: 15px;
}
.news-also {
  width: 30%;
  float: left;
  padding-left: 30px;
  box-sizing: border-box;
  margin-top: -30px;
  position: relative;
  padding-top: 10px;
}
.news-also__list {
  height: 300px;
  overflow: auto;
  margin-top: 40px;
}
.news-also__item {
  list-style-type: none;
  margin-bottom: 15px;
  display: flex;
}
.news-also__date {
  flex-basis: 15%;
  font-size: 17px;
  margin-right: 10px;
}
.news-also__text {
  flex-basis: 75%;
  font-size: 15px;
}
.news-blog {
  width: 30%;
  float: right;
  padding: 20px;
  box-sizing: border-box;
  margin-top: 10px;
  position: relative;
  padding-top: 10px;
  border: 1px solid rgba(255,255,255,0.4);
}
.news-blog__title {
  background: rgba(255,255,255,0.4);
  padding: 5px 10px;
  text-transform: uppercase;
  font-size: 11px;
  display: inline-block;
  margin-top: 20px;
}
.news-blog__icon {
  margin-top: 3px;
  margin-right: 10px;
  display: inline-block;
  vertical-align: middle;
  content: "";
  width: 30px;
  height: 30px;
  background: url("icons/logo_plain.svg");
  background-repeat: no-repeat;
}
.news-blog__item {
  display: flex;
  margin-top: 20px;
}
.news-blog__date {
  flex-basis: 15%;
  font-size: 17px;
  margin-right: 10px;
}
.news-blog__text {
  flex-basis: 75%;
  font-size: 15px;
}
.news-blog__list {
  height: 280px;
  overflow: auto;
}
.news-blog__button {
  display: block;
  margin: 0 auto;
  border: 1px solid rgba(255,255,255,0.4);
  text-transform: uppercase;
  padding: 10px 15px;
  font-size: 12px;
  width: 120px;
  text-align: center;
  margin-top: 0px;
}
.news-blog__button:hover {
  border: 1px solid #fff;
}
.blog-block {
  position: absolute;
  background-size: cover;
  background-position: center center;
  color: #fff;
  width: 100%;
  height: 100%;
  background-image: url("images/news.jpg");
}
.blog-block-article {
  width: 70%;
  margin-top: -30px;
  position: relative;
  padding-top: 10px;
  float: left;
}
.blog-block-article__date {
  font-size: 17px;
}
.blog-block-article__text {
  margin-top: 20px;
  height: 240px;
  overflow: auto;
  font-size: 15px;
}
.blog-block-also {
  width: 25%;
  float: right;
  padding: 20px;
  box-sizing: border-box;
  margin-top: 10px;
  position: relative;
  padding-top: 10px;
  border: 1px solid rgba(255,255,255,0.4);
}
.blog-block-also__title {
  background: rgba(255,255,255,0.4);
  padding: 5px 10px;
  text-transform: uppercase;
  font-size: 11px;
  display: inline-block;
  margin-top: 20px;
}
.blog-block-also__icon {
  margin-top: 3px;
  margin-right: 10px;
  display: inline-block;
  vertical-align: middle;
  content: "";
  width: 30px;
  height: 30px;
  background: url("icons/logo_plain.svg");
  background-repeat: no-repeat;
}
.blog-block-also__item {
  display: flex;
  margin-top: 20px;
}
.blog-block-also__date {
  flex-basis: 15%;
  font-size: 17px;
  margin-right: 10px;
}
.blog-block-also__text {
  flex-basis: 75%;
  font-size: 15px;
}
.blog-block-also__list {
  height: 300px;
  overflow: auto;
}
.potfolio-block {
  position: absolute;
  background-size: cover;
  background-position: center center;
  color: #fff;
  width: 100%;
  height: 100%;
  background-image: url("images/portfolio.jpg");
  z-index: 2;
}
.potfolio-sites {
  position: relative;
  margin-top: 20px;
}
.potfolio-sites-list {
  width: 90%;
  margin: 0 auto;
}
.potfolio-sites__item {
  list-style-type: none;
  padding: 15px;
  box-sizing: border-box;
}
.potfolio-sites__thumbnail img {
  width: 100%;
}
.potfolio-sites-next {
  position: absolute;
  right: 0;
  top: 100px;
  width: 55px;
  height: 110px;
  font-size: 40px;
  cursor: pointer;
  background-image: url("icons/next.svg");
  background-repeat: no-repeat;
  opacity: 0.6;
}
.potfolio-sites-next:hover {
  opacity: 1;
}
.potfolio-sites-previous {
  position: absolute;
  left: 0;
  top: 100px;
  width: 55px;
  height: 110px;
  font-size: 40px;
  cursor: pointer;
  background-image: url("icons/previous.svg");
  background-repeat: no-repeat;
  opacity: 0.6;
}
.potfolio-sites-previous:hover {
  opacity: 1;
}
.potfolio-sites__logo {
  margin-top: 30px;
  text-align: center;
}
.potfolio-sites__logo img {
  width: 140px;
  margin: 0 auto;
}
.potfolio-title {
  float: left;
}
.potfolio-menu {
  float: right;
  margin-top: 50px;
}
.potfolio-menu__item {
  list-style-type: none;
  display: inline-block;
  margin-right: 15px;
}
.potfolio-seo {
  position: relative;
}
.potfolio-seo-list {
  width: 90%;
  margin: 0 auto;
}
.potfolio-seo__item {
  list-style-type: none;
  padding: 15px;
  box-sizing: border-box;
  width: 100%;
}
.potfolio-seo__thumbnail {
  width: 33.33333333%;
  max-width: 320px;
  float: left;
  padding: 30px;
  box-sizing: border-box;
}
.potfolio-seo__thumbnail img {
  width: 100%;
}
.potfolio-seo__logo {
  width: 50%;
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  text-align: center;
}
.potfolio-seo__logo img {
  width: 100%;
}
.potfolio-seo__content {
  float: left;
  width: 33.33333333%;
  margin-top: -30px;
  padding: 30px;
  box-sizing: border-box;
}
.potfolio-seo__info {
  float: left;
  width: 33.33333333%;
  margin-top: -20px;
  padding: 30px;
  box-sizing: border-box;
}
.potfolio-seo__sert-item {
  list-style-type: none;
  float: left;
  width: 50%;
  padding: 15px;
  margin-left: -15px;
  box-sizing: border-box;
}
.potfolio-seo__sert-item img {
  width: 100%;
}
.potfolio-sites-seo-next {
  position: absolute;
  right: 0;
  top: 140px;
  width: 55px;
  height: 110px;
  font-size: 40px;
  cursor: pointer;
  background-image: url("icons/next.svg");
  background-repeat: no-repeat;
  opacity: 0.6;
}
.potfolio-sites-seo-next:hover {
  opacity: 1;
}
.potfolio-sites-seo-previous {
  position: absolute;
  left: 0;
  top: 140px;
  width: 55px;
  height: 110px;
  font-size: 40px;
  cursor: pointer;
  background-image: url("icons/previous.svg");
  background-repeat: no-repeat;
  opacity: 0.6;
}
.potfolio-sites-seo-previous:hover {
  opacity: 1;
}
.footer-block {
  font-size: 13px;
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
  z-index: 100;
}
.footer {
  position: relative;
  float: right;
}
.footer-social {
  display: inline-block;
  margin-right: 10px;
}
.footer-social__item {
  list-style-type: none;
  display: inline-block;
  margin-right: 10px;
}
.footer-social__link {
  border: none;
  opacity: 0.4;
}
.footer-social__link:hover {
  opacity: 1;
  border: none;
}
.footer-copyright {
  opacity: 0.4;
  display: inline-block;
}
/*------------- Модалы -------------*/
.pop-up-menu-block {
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
  z-index: 1000;
  font-family: 'Roboto Slab';
  font-weight: 300;
}
.pop-up-menu {
  position: absolute;
  height: 300px;
  left: 240px;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
.pop-up-menu__item {
  font-size: 36px;
  margin-bottom: 30px;
  list-style-type: none;
  position: relative;
}
.pop-up-menu__link {
  border: none;
}
.pop-up-menu__link:hover {
  border: none;
}
.pop-up-menu__link:hover:before {
  content: "";
  display: block;
  position: absolute;
  width: 50px;
  height: 50px;
  background: url("icons/arrow-right.svg");
  background-repeat: no-repeat;
  margin-left: -80px;
}
.pop-up-menu__link:hover:after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 50px;
  height: 50px;
  vertical-align: middle;
  background: url("icons/arrow-left.svg");
  background-repeat: no-repeat;
  margin-left: 20px;
}
[data-page-content] {
  display: block;
}
.pop-up-call-block {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10000;
  background: rgba(0,0,0,0.6);
}
.pop-up-call-form {
  width: 380px;
  height: 410px;
  background: #000;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  padding: 30px;
  box-sizing: border-box;
  z-index: 10000000;
}
.form-close {
  position: absolute;
  width: 28px;
  height: 28px;
  background: url("icons/form-close.png");
  background-repeat: no-repeat;
  cursor: pointer;
  top: 10px;
  right: 10px;
}
.pop-up-call-form h2 {
  margin-top: 0;
}
.pop-up-call-form__input {
  background: transparent;
  border: 1px solid rgba(255,255,255,0.4);
  border-radius: 3px;
  font-family: 'Play';
  color: #fff;
  font-size: 16px;
  width: 100%;
  padding: 12px;
  margin-top: 10px;
}
.pop-up-call-form__textarea {
  background: transparent;
  border: 1px solid rgba(255,255,255,0.4);
  border-radius: 3px;
  font-family: 'Play';
  font-size: 16px;
  color: #fff;
  width: 100%;
  height: 50px;
  padding: 12px;
  margin-top: 10px;
}
.pop-up-call-form__submit {
  background: #cab403;
  border-radius: 3px;
  border: none;
  font-family: 'Play';
  color: #fff;
  font-size: 12px;
  text-transform: uppercase;
  padding: 12px;
  margin-top: 20px;
}
.pop-up-success-block {
  display: none;
  width: 100%;
  height: 100%;
  z-index: 10000;
  background: rgba(0,0,0,0.6);
}
.pop-up-success {
  width: 380px;
  height: 180px;
  background: #000;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  padding: 30px;
  box-sizing: border-box;
  z-index: 10000000;
  color: #fff;
}
.pop-up-success h1 {
  margin-top: 0;
}
@media (min-width: 1440px) {
  h1 {
    font-size: 46px;
  }
}
@media (max-width: 1440px) {
  .header-logo {
    margin-right: 60px;
  }
  .header-anchors {
    margin-right: 60px;
  }
  .header-geo {
    margin-right: 60px;
  }
}
@media (max-width: 1279px) {
  h1 {
    font-size: 36px;
  }
  h2 {
    font-size: 24px;
  }
  .header-logo {
    margin-right: 40px;
    font-size: 12px;
  }
  .header-anchors {
    margin-right: 40px;
    font-size: 12px;
  }
  .header-geo {
    margin-right: 40px;
    font-size: 12px;
  }
  .header-contact {
    font-size: 12px;
  }
}
@media (max-width: 1140px) {
  h1 {
    font-size: 36px;
  }
  h2 {
    font-size: 22px;
  }
  .header-logo {
    width: 120px;
    margin-right: 30px;
  }
  .header-anchors {
    margin-right: 30px;
    font-size: 11px;
  }
  .header-anchors__item {
    padding-left: 10px;
    padding-right: 10px;
  }
  .header-geo {
    margin-right: 30px;
    font-size: 11px;
  }
  .header-contact {
    font-size: 11px;
  }
  .main-content-1-left {
    width: 35%;
  }
  .main-content-1-right {
    width: 65%;
  }
  .main-content-2-left {
    width: 35%;
  }
  .main-content-2-right {
    width: 65%;
  }
  .main-content-3-left {
    width: 35%;
  }
  .main-content-3-right {
    width: 65%;
  }
  .main-content-form {
    width: 240px;
  }
  .main-content-form__input {
    font-size: 12px;
    padding: 7px 10px;
  }
  .main-content-form__button {
    font-size: 10px;
  }
  .main-content-form__button_filled {
    font-size: 10px;
  }
  .about-form {
    width: 240px;
  }
  .about-form__input {
    font-size: 12px;
    padding: 7px 10px;
  }
  .about-form__text-area {
    font-size: 12px;
    height: 40px;
  }
  .about-form__button {
    font-size: 11px;
  }
  .main-content-1-links__page {
    font-size: 12px;
  }
  .main-content-2-advantages {
    font-size: 13px;
  }
  .main-content-2-info {
    padding: 20px;
    padding-bottom: 0;
  }
  .main-content-2-info__text {
    font-size: 13px;
  }
  .single-page {
    top: 100px;
  }
  .potfolio-sites {
    position: relative;
    margin-top: 20px;
  }
  .potfolio-sites-list {
    width: 80%;
    margin: 0 auto;
  }
  .potfolio-seo {
    position: relative;
    margin-top: 20px;
  }
  .potfolio-seo__thumbnail {
    width: 20%;
  }
  .potfolio-seo__content {
    width: 50%;
  }
  .potfolio-seo__info {
    width: 30%;
  }
}
@media (max-width: 1024px) {
  .main-content-1-left {
    width: 35%;
  }
  .main-content-1-right {
    width: 65%;
  }
  .main-content-2-left {
    width: 35%;
  }
  .main-content-2-right {
    width: 65%;
  }
  .main-content-3-left {
    width: 35%;
  }
  .main-content-3-right {
    width: 65%;
  }
}
@media (max-height: 760px) {
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 22px;
  }
  .main-content-holder {
    bottom: 20px;
  }
  .main-content-2__title {
    margin-top: 20px;
  }
  .main-content-3__title {
    margin-top: 20px;
  }
  .about-form {
    width: 240px;
  }
  .about-form__input {
    font-size: 12px;
    padding: 7px 10px;
  }
  .about-form__text-area {
    font-size: 12px;
    height: 40px;
  }
  .about-form__button {
    font-size: 11px;
  }
  .single-page {
    top: 100px;
  }
  .potfolio-sites {
    position: relative;
    margin-top: 20px;
  }
  .potfolio-sites-list {
    width: 70%;
    margin: 0 auto;
  }
  .potfolio-seo {
    position: relative;
    margin-top: 20px;
  }
  .potfolio-seo__thumbnail {
    width: 20%;
  }
  .potfolio-seo__content {
    width: 50%;
  }
  .potfolio-seo__info {
    width: 30%;
  }
  .blog-block-also__list {
    height: 250px;
  }
}
@media (min-height: 860px) {
  .main-content-holder {
    bottom: 180px;
  }
  .main-content-1-links {
    margin-top: 80px;
  }
  .potfolio-sites {
    position: relative;
    margin-top: 20px;
  }
  .potfolio-seo {
    position: relative;
    margin-top: 20px;
  }
}
