doctype html5
html
	head
		title
		meta(charset="utf-8")
		meta(name="description",content="")
		meta(name="keywords",content="")
		meta(http-equiv="content-language", content="ru")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		link(href="styles/default/css/style.css",rel="stylesheet")
	body
		.layout
			section.header-block
				.limit.clearfix
					.header-logo
					.header-anchors
						ul
							li.header-anchors__item
								a(href="").active Продвижение<br>сайтов под ключ
							li.header-anchors__item
								a(href="") Классическое<br>продвижение сайтов
							li.header-anchors__item
								a(href="") Разработка<br>сайтов
					.header-geo
						.header-geo-labels
							ul
								li.header-geo-labels__city Москва
								li.header-geo-labels__city.active Казань
								li.header-geo-labels__city Россия
							.header-geo-labels__phone <span>+7 (843)</span> 555 05 05
					.header-contact
						.header-modals
							.header-modals__search <i class="fa fa-search" aria-hidden="true"></i>
							.header-modals__menu
						.header-contact__item
							a(href="").header-contact__link_call-me Перезвоните мне
						.header-contact__item
							a(href="").header-contact__link Контакты
			section.about-block
				.single-page.limit.clearfix
					.about-top.clearfix
						.about-title
							h1 О компании<br>и об осах
						.about-menu
							ul
								li.about-menu__item
									a(href="") Философия
								li.about-menu__item
									a(href="") История
								li.about-menu__item
									a(href="") Команда
								li.about-menu__item
									a(href="") Вакансии
								li.about-menu__item
									a(href="") Портфолио
								li.about-menu__item
									a(href="") Блог
					.about-left
						h2 О нас
						| Обычно, чем выше позиция сайта в результатах поиска, тем больше заинтересованных посетителей переходит на него с поисковых систем. При анализе эффективности поисковой оптимизации оценивается стоимость целевого посетителя с учётом времени вывода сайта на указанные позиции и конверсии сайта. Внутренняя оптимизация включает в себя работу с заголовками страницы, которые содержатся в коде с тегами
					.about-middle
						h2 Миссия
						| Обычно, чем выше позиция сайта в результатах поиска, тем больше заинтересованных посетителей переходит на него с поисковых систем. При анализе эффективности поисковой оптимизации оценивается стоимость целевого посетителя с учётом времени вывода сайта на указанные позиции и конверсии сайта. Внутренняя оптимизация включает в себя работу с заголовками страницы, которые содержатся в коде с тегами

					.about-right
						form(action="").about-form
							h2.about-form__title Написать нам
							input(type="text" placeholder="Имя").about-form__input
							input(type="text" placeholder="Телефон").about-form__input
							input(type="text" placeholder="Электронный адрес").about-form__input
							input(type="text" placeholder="Ссылка на сайт").about-form__input
							textarea(placeholder="Сообщение").about-form__textarea
							.about-form__submit
								button.about-form__button Отправить

			section.footer-block
				.footer.clearfix
					.footer-social
						ul
							li.footer-social__item
								a(href="").footer-social__link <i class="fa fa-vk" aria-hidden="true"></i>
							li.footer-social__item
								a(href="").footer-social__link <i class="fa fa-twitter" aria-hidden="true"></i>
							li.footer-social__item
								a(href="").footer-social__link <i class="fa fa-facebook" aria-hidden="true"></i>
							li.footer-social__item
								a(href="").footer-social__link <i class="fa fa-instagram" aria-hidden="true"></i>
					.footer-copyright &copy; Next-promo &mdash; 2017
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js")
		script(src="https://use.fontawesome.com/e04476514d.js")
