doctype html5
html
	head
		title
		meta(charset="utf-8")
		meta(name="description",content="")
		meta(name="keywords",content="")
		meta(http-equiv="content-language", content="ru")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		link(href="styles/default/css/style.css",rel="stylesheet")
	body
		.layout
			section.header-block
				.limit.clearfix
					.header-logo
					.header-anchors
						ul
							li.header-anchors__item
								a(href="").active Продвижение<br>сайтов под ключ
							li.header-anchors__item
								a(href="") Классическое<br>продвижение сайтов
							li.header-anchors__item
								a(href="") Разработка<br>сайтов
					.header-geo
						.header-geo-labels
							ul
								li.header-geo-labels__city Москва
								li.header-geo-labels__city.active Казань
								li.header-geo-labels__city Россия
							.header-geo-labels__phone <span>+7 (843)</span> 555 05 05
					.header-contact
						.header-modals
							.header-modals__search <i class="fa fa-search" aria-hidden="true"></i>
							.header-modals__menu
						.header-contact__item
							a(href="").header-contact__link_call-me Перезвоните мне
						.header-contact__item
							a(href="").header-contact__link Контакты
			section.contact-block
				.single-page.limit.clearfix(data-page-content)
					h1 Контакты
					.contact-left Казань, Островского, 87
						ul
							li.contact-phone <span>8 (843)</span> 217 55 29 <i>Казань</i>
							li.contact-phone <span>8 (495)</span> 525 11 48 <i>Москва</i>
							li.contact-phone <span>8 (800)</span> 102 20 83 <i>Россия</i>
						.contact-time
							span 10:00
							span 19:00
					.contact-right
						form(action="").contact-form
							h2.contact-form__title Написать нам
							input(type="text" placeholder="Имя").contact-form__input
							input(type="text" placeholder="Телефон").contact-form__input
							input(type="text" placeholder="Электронный адрес").contact-form__input
							input(type="text" placeholder="Ссылка на сайт").contact-form__input
							textarea(placeholder="Сообщение").contact-form__textarea
							.contact-form__submit
								button.contact-form__button Отправить

			section.footer-block
				.footer.clearfix
					.footer-social
						ul
							li.footer-social__item
								a(href="").footer-social__link <i class="fa fa-vk" aria-hidden="true"></i>
							li.footer-social__item
								a(href="").footer-social__link <i class="fa fa-twitter" aria-hidden="true"></i>
							li.footer-social__item
								a(href="").footer-social__link <i class="fa fa-facebook" aria-hidden="true"></i>
							li.footer-social__item
								a(href="").footer-social__link <i class="fa fa-instagram" aria-hidden="true"></i>
					.footer-copyright &copy; Next-promo &mdash; 2017
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js")
		script(src="https://use.fontawesome.com/e04476514d.js")
