doctype html5
html
	head
		title
		meta(charset="utf-8")
		meta(name="description",content="")
		meta(name="keywords",content="")
		meta(http-equiv="content-language", content="ru")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		link(href="styles/default/css/style.css",rel="stylesheet")
	body
		.layout
			section.header-block
				.limit.clearfix
					.header-logo
					.header-anchors
						ul
							li.header-anchors__item
								a(href="").active Продвижение<br>сайтов под ключ
							li.header-anchors__item
								a(href="") Классическое<br>продвижение сайтов
							li.header-anchors__item
								a(href="") Разработка<br>сайтов
					.header-geo
						.header-geo-labels
							ul
								li.header-geo-labels__city Москва
								li.header-geo-labels__city.active Казань
								li.header-geo-labels__city Россия
							.header-geo-labels__phone <span>+7 (843)</span> 555 05 05
					.header-contact
						.header-modals
							.header-modals__search <i class="fa fa-search" aria-hidden="true"></i>
							.header-modals__menu
						.header-contact__item
							a(href="").header-contact__link_call-me Перезвоните мне
						.header-contact__item
							a(href="").header-contact__link Контакты
			section.main-content-3.active(data-page-scroll)
				.main-content-holder.limit.clearfix(data-page-content)
					.main-content-3-top.clearfix
						.main-content-3__title
							h1 Продвижение сайта<br>с мгновенными результатами
							.main-content-3__subtitle от 20 000 ₽ в месяц
						.main-content-3-links.clearfix
							.main-content-3-links__label Узнать больше
							ul
								li.main-content-3-links__page
									a(href="") Как это работает
								li.main-content-3-links__page
									a(href="") Почему это работает
								li.main-content-3-links__page
									a(href="") Портфолио

					.main-content-3-left
						form(action="").main-content-form
								.main-content-form__title Готовы<br>к лучшим результам?
								input(type="text" placeholder="Имя").main-content-form__input
								input(type="text" placeholder="Телефон").main-content-form__input
								input(type="text" placeholder="Электронный адрес").main-content-form__input
								input(type="text" placeholder="Ссылка на сайт").main-content-form__input
								.main-content-form__submit.clearfix
									button.main-content-form__button Оставить заявку
									button.main-content-form__button_filled Хочу со скидкой
					.main-content-3-right
						.main-content-3-advantages.clearfix
							.main-content-3-advantages__item
								h2 Индивидуальный дизайн
								| Дизайн, разработанный с нуля, с оглядкой на конкурентов, с вниманием к деталям
							.main-content-3-advantages__item
								h2 Мобильная<br>версия
								| Сайты сразу с мобильной версией, с заботой о комфорте посетителей, с заделом на перспективу
							.main-content-3-advantages__item
								h2 Сайт<br>под ключ
								| Начинаем с идеи, завершаем готовым сайтом. Никаких дополнительных хлопот
						.main-content-3-info.clearfix
							h2 Расскажите нам больше о том, каким должен быть Ваш сайт
							| Мы ответственно подходим к работе, по этому начинаем работать тогда, когда знаем все про то, каким должен быть Ваш сайт. От и до. И если вы сделаете это сразу, мы дадим вам скидку 10% =)
			section.footer-block
				.footer.clearfix
					.footer-social
						ul
							li.footer-social__item
								a(href="").footer-social__link <i class="fa fa-vk" aria-hidden="true"></i>
							li.footer-social__item
								a(href="").footer-social__link <i class="fa fa-twitter" aria-hidden="true"></i>
							li.footer-social__item
								a(href="").footer-social__link <i class="fa fa-facebook" aria-hidden="true"></i>
							li.footer-social__item
								a(href="").footer-social__link <i class="fa fa-instagram" aria-hidden="true"></i>
					.footer-copyright &copy; Next-promo &mdash; 2017
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js")
		script(src="https://use.fontawesome.com/e04476514d.js")
