doctype html5
html
	head
		title
		meta(charset="utf-8")
		meta(name="description",content="")
		meta(name="keywords",content="")
		meta(http-equiv="content-language", content="ru")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		link(href="styles/default/css/style.css",rel="stylesheet")
	body
		.layout
			section.header-block
				.limit.clearfix
					.header-logo
					.header-anchors
						ul
							li.header-anchors__item
								a(href="").active Продвижение<br>сайтов под ключ
							li.header-anchors__item
								a(href="") Классическое<br>продвижение сайтов
							li.header-anchors__item
								a(href="") Разработка<br>сайтов
					.header-geo
						.header-geo-labels
							ul
								li.header-geo-labels__city Москва
								li.header-geo-labels__city.active Казань
								li.header-geo-labels__city Россия
							.header-geo-labels__phone <span>+7 (843)</span> 555 05 05
					.header-contact
						.header-modals
							.header-modals__search <i class="fa fa-search" aria-hidden="true"></i>
							.header-modals__menu
						.header-contact__item
							a(href="").header-contact__link_call-me Перезвоните мне
						.header-contact__item
							a(href="").header-contact__link Контакты
			section.main-content-2.active(data-page-scroll)
				.main-content-holder.limit.clearfix(data-page-content)
					.main-content-2-top.clearfix
						.main-content-2__title
							h1 Продвижение сайта<br>с мгновенными результатами
							.main-content-2__subtitle от 20 000 ₽ в месяц
						.main-content-2-links.clearfix
							.main-content-2-links__label Узнать больше
							ul
								li.main-content-2-links__page
									a(href="") Как это работает
								li.main-content-2-links__page
									a(href="") Почему это работает
								li.main-content-2-links__page
									a(href="") Портфолио

					.main-content-2-left
						form(action="").main-content-form
								.main-content-form__title Готовы<br>к лучшим результам?
								input(type="text" placeholder="Имя").main-content-form__input
								input(type="text" placeholder="Телефон").main-content-form__input
								input(type="text" placeholder="Электронный адрес").main-content-form__input
								input(type="text" placeholder="Ссылка на сайт").main-content-form__input
								.main-content-form__submit.clearfix
									button.main-content-form__button Оставить заявку
									button.main-content-form__button_filled Хочу со скидкой
					.main-content-2-right
						.main-content-2-advantages.clearfix
							.main-content-2-advantages__item
								h2 Продвижение в поисковых системах
								| Вывод сайта в ТОП Яндекса и Google. Привлечение наиболее заинтересованных посетителей
							.main-content-2-advantages__item
								h2 Контекстная реклама
								| Быстрое п ривлечение на сайт посетителей с рекламных объявлений в поиске и на сторонних сайтах
							.main-content-2-advantages__item
								h2 Доработки и сопровождение сайта
								| Улучшаем сайт для людей, чтобы еще больше посетителей стали Вашими клиентами
						.main-content-2-info.clearfix
							.main-content-2-info__item
								.main-content-2-info__icon-1
								.main-content-2-info__text Продвижение в одном или нескольких регионах, по всей России
							.main-content-2-info__item
								.main-content-2-info__icon-2
								.main-content-2-info__text Неограниченное количество п родвигаемых ключевых слов
							.main-content-2-info__item
								.main-content-2-info__icon-3
								.main-content-2-info__text Регулярная отчетность на основе сервисов Яндекс.Метрика и TopVisor
							.main-content-2-info__item
								.main-content-2-info__icon-4
								.main-content-2-info__text Фиксированная стоимость и отсутствие скрытых платежей
			section.footer-block
				.footer.clearfix
					.footer-social
						ul
							li.footer-social__item
								a(href="").footer-social__link <i class="fa fa-vk" aria-hidden="true"></i>
							li.footer-social__item
								a(href="").footer-social__link <i class="fa fa-twitter" aria-hidden="true"></i>
							li.footer-social__item
								a(href="").footer-social__link <i class="fa fa-facebook" aria-hidden="true"></i>
							li.footer-social__item
								a(href="").footer-social__link <i class="fa fa-instagram" aria-hidden="true"></i>
					.footer-copyright &copy; Next-promo &mdash; 2017
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js")
		script(src="https://use.fontawesome.com/e04476514d.js")
