doctype html5
html
	head
		title
		meta(charset="utf-8")
		meta(name="description",content="")
		meta(name="keywords",content="")
		meta(http-equiv="content-language", content="ru")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		link(href="styles/default/css/style.css",rel="stylesheet")
		link(href="styles/default/js-libs/custom-scroll/jquery.custom-scrollbar.css",rel="stylesheet")
	body
		.layout
			section.header-block
				.limit.clearfix
					.header-logo
					.header-anchors
						ul
							li.header-anchors__item
								a(href="").active Продвижение<br>сайтов под ключ
							li.header-anchors__item
								a(href="") Классическое<br>продвижение сайтов
							li.header-anchors__item
								a(href="") Разработка<br>сайтов
					.header-geo
						.header-geo-labels
							ul
								li.header-geo-labels__city Москва
								li.header-geo-labels__city.active Казань
								li.header-geo-labels__city Россия
							.header-geo-labels__phone <span>+7 (843)</span> 555 05 05
					.header-contact
						.header-modals
							.header-modals__search <i class="fa fa-search" aria-hidden="true"></i>
							.header-modals__menu
						.header-contact__item
							a(href="").header-contact__link_call-me Перезвоните мне
						.header-contact__item
							a(href="").header-contact__link Контакты
			section.news-block
				.single-page.limit.clearfix(data-page-content)
					.news.clearfix
						h1 Новости
						.news-article
							h2.news-article__title Открытие нового сайта
							.news-article__date 10/12
							.news-article__text(data-custom-scroll) Обычно, чем выше позиция сайта в результатах поиска, тем больше заинтересованных посетителей переходит на него с поисковых систем. При анализе эффективности поисковой оптимизации оценивается стоимость целевого посетителя с учётом времени вывода сайта на указанные позиции и конверсии сайта.Обычно, чем выше позиция сайта в результатах поиска, тем больше заинтересованных посетителей переходит на него с поисковых систем. При анализе эффективности поисковой оптимизации оценивается стоимостьПри анализе эффективности поисковой оптимизации оценивается стоимость целевого посетителя с учётом времени вывода сайта на указанные позиции и конверсии сайта.Обычно, чем выше позиция сайта в результатах поиска, тем больше заинтересованных посетителей переходит на него с поисковых систем. При анализе эффективности поисковой оптимизации оценивается стоимостьПри анализе эффективности поисковой оптимизации оценивается стоимость целевого посетителя с учётом времени вывода сайта на указанные позиции и конверсии сайта.Обычно, чем выше позиция сайта в результатах поиска, тем больше заинтересованных посетителей переходит на него с поисковых систем. При анализе эффективности поисковой оптимизации оценивается стоимость
						.news-also
							h2.news-also__title Другие новости
							.news-also__list(data-custom-scroll)
								ul
									li.news-also__item
										.news-also__date 10/12
										.news-also__text
											a(href="") Ребрендинг Next Promo: как это было и чем это закончилось
									li.news-also__item
										.news-also__date 10/12
										.news-also__text
											a(href="") Ребрендинг Next Promo: как это было и чем это закончилось
									li.news-also__item
										.news-also__date 10/12
										.news-also__text
											a(href="") Ребрендинг Next Promo: как это было и чем это закончилось
									li.news-also__item
										.news-also__date 10/12
										.news-also__text
											a(href="") Ребрендинг Next Promo: как это было и чем это закончилось
									li.news-also__item
										.news-also__date 10/12
										.news-also__text
											a(href="") Ребрендинг Next Promo: как это было и чем это закончилось
									li.news-also__item
										.news-also__date 10/12
										.news-also__text
											a(href="") Ребрендинг Next Promo: как это было и чем это закончилось
									li.news-also__item
										.news-also__date 10/12
										.news-also__text
											a(href="") Ребрендинг Next Promo: как это было и чем это закончилось
									li.news-also__item
										.news-also__date 10/12
										.news-also__text
											a(href="") Ребрендинг Next Promo: как это было и чем это закончилось
									li.news-also__item
										.news-also__date 10/12
										.news-also__text
											a(href="") Ребрендинг Next Promo: как это было и чем это закончилось
									li.news-also__item
										.news-also__date 10/12
										.news-also__text
											a(href="") Ребрендинг Next Promo: как это было и чем это закончилось
									li.news-also__item
										.news-also__date 10/12
										.news-also__text
											a(href="") Ребрендинг Next Promo: как это было и чем это закончилось

						.news-blog
							.news-blog__icon
							.news-blog__title Последнее в блоге
							.news-blog__list(data-custom-scroll)
								.news-blog__item
									.news-blog__date 10/12
									.news-also__text
										a(href="") Статические внешние факторы. Существуют различные SEO-сервисы, позволяющие облегчить труд оптимизаторов и дать владельцам сайтов возможность продвигать их самостоятельно.
								.news-blog__item
									.news-blog__date 10/12
									.news-blog__text
										a(href="") Чем в действительности является честная цена и из чсего она состоит. Все факторы, влияющие
							a(href="").news-blog__button Перейти в блог


			section.footer-block
				.footer.clearfix
					.footer-social
						ul
							li.footer-social__item
								a(href="").footer-social__link <i class="fa fa-vk" aria-hidden="true"></i>
							li.footer-social__item
								a(href="").footer-social__link <i class="fa fa-twitter" aria-hidden="true"></i>
							li.footer-social__item
								a(href="").footer-social__link <i class="fa fa-facebook" aria-hidden="true"></i>
							li.footer-social__item
								a(href="").footer-social__link <i class="fa fa-instagram" aria-hidden="true"></i>
					.footer-copyright &copy; Next-promo &mdash; 2017
		script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js")
		script(src="styles/default/js-libs/custom-scroll/jquery.custom-scrollbar.js")
		script(src="styles/default/js/main.js")
		script(src="https://use.fontawesome.com/e04476514d.js")
