doctype html5
html
	head
		title
		meta(charset="utf-8")
		meta(name="description",content="")
		meta(name="keywords",content="")
		meta(http-equiv="content-language", content="ru")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		link(href="styles/default/css/style.css",rel="stylesheet")
		link(href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css",rel="stylesheet")
	body
		.layout
			section.header-block
				.limit.clearfix
					.header-logo
					.header-anchors
						ul
							li.header-anchors__item
								a(href="").active Продвижение<br>сайтов под ключ
							li.header-anchors__item
								a(href="") Классическое<br>продвижение сайтов
							li.header-anchors__item
								a(href="") Разработка<br>сайтов
					.header-geo
						.header-geo-labels
							ul
								li.header-geo-labels__city Москва
								li.header-geo-labels__city.active Казань
								li.header-geo-labels__city Россия
							.header-geo-labels__phone <span>+7 (843)</span> 555 05 05
					.header-contact
						.header-modals
							.header-modals__search <i class="fa fa-search" aria-hidden="true"></i>
							.header-modals__menu
						.header-contact__item
							a(href="").header-contact__link_call-me Перезвоните мне
						.header-contact__item
							a(href="").header-contact__link Контакты
			section.potfolio-block
				.single-page.limit.clearfix
					.potfolio-top.clearfix
						h1.potfolio-title Портфолио
						.potfolio-menu
							ul
								li.potfolio-menu__item.active
									a(href="") Проекты по продвижению в интернете
								li.potfolio-menu__item
									a(href="") Галерея разработанных сайтов
					.potfolio-sites
						.potfolio-sites-next
						.potfolio-sites-previous
						ul.potfolio-sites-list(data-slick-slider)
							li.potfolio-sites__item
								.potfolio-sites__thumbnail
									img(src="uploads/img/portfolio.jpg")
								.potfolio-sites__logo
									img(src="uploads/img/portfolio-logo.png")
							li.potfolio-sites__item
								.potfolio-sites__thumbnail
									img(src="uploads/img/portfolio.jpg")
								.potfolio-sites__logo
									img(src="uploads/img/portfolio-logo.png")
							li.potfolio-sites__item
								.potfolio-sites__thumbnail
									img(src="uploads/img/portfolio.jpg")
								.potfolio-sites__logo
									img(src="uploads/img/portfolio-logo.png")
							li.potfolio-sites__item
								.potfolio-sites__thumbnail
									img(src="uploads/img/portfolio.jpg")
								.potfolio-sites__logo
									img(src="uploads/img/portfolio-logo.png")
							li.potfolio-sites__item
								.potfolio-sites__thumbnail
									img(src="uploads/img/portfolio.jpg")
								.potfolio-sites__logo
									img(src="uploads/img/portfolio-logo.png")
							li.potfolio-sites__item
								.potfolio-sites__thumbnail
									img(src="uploads/img/portfolio.jpg")
								.potfolio-sites__logo
									img(src="uploads/img/portfolio-logo.png")

			section.footer-block
				.footer.clearfix
					.footer-social
						ul
							li.footer-social__item
								a(href="").footer-social__link <i class="fa fa-vk" aria-hidden="true"></i>
							li.footer-social__item
								a(href="").footer-social__link <i class="fa fa-twitter" aria-hidden="true"></i>
							li.footer-social__item
								a(href="").footer-social__link <i class="fa fa-facebook" aria-hidden="true"></i>
							li.footer-social__item
								a(href="").footer-social__link <i class="fa fa-instagram" aria-hidden="true"></i>
					.footer-copyright &copy; Next-promo &mdash; 2017
		script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js")
		script(src="styles/default/js-libs/custom-scroll/jquery.custom-scrollbar.js")
		script(src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js")
		script(src="styles/default/js/main.js")
		script(src="https://use.fontawesome.com/e04476514d.js")
